.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/.vscode-test/**
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
.github/**
__pycache__/**
*.pyc
*.ps1
*.min.js
*.min.css
GITHUB-SETUP.md
INSTALL.md
dist/
